$warning-color: #ff3b30;
$button-color: #8c94a4;
$font-color--popup: #3d424d;
$warning-font-color: #ffffff;

$font-size--regular: 16px;
$font-size--large: 26px;

$main-font: "Open Sans", sans-serif;

$animation-duration: 0.4s;